<div class="d-flex flex-column w-100 h-100">
  <div class="header" [ngClass]="{ mute: mute }">
    <p></p>
  </div>
  <div class="side-bar">
    <!-- Side Bar Component -->
    <app-side-bar
      class="d-flex h-100"
      [opened]="opened"
      (open)="open.emit($event)"
      (close)="close.emit(false)"
    ></app-side-bar>
  </div>
  <div class="body">
    <div [ngSwitch]="tab">
      <div *ngSwitchCase="1"></div>
      <div *ngSwitchCase="2"></div>
      <div *ngSwitchDefault>
        <button (click)="addUser()">
          Add User
        </button>
        <div class="d-flex flex-column">
          <mat-card
            class="shadow"
            *ngFor="let user of users"
            [ngStyle]="{
              'background-color':
                selectedUserId === user.id ? 'lightblue' : 'white'
            }"
            [routerLink]="['/userInfo', user.id]"
            routerLinkActive="active"
          >
            <mat-card-content>
              <mat-card-title> {{ user.name }}</mat-card-title>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
