<div class="d-flex flex-column w-100 h-100">
  <div class="header" [ngClass]="{ mute: mute }">
    <p></p>
  </div>
  <div class="side-bar">
    <!-- Side Bar Component -->
    <app-side-bar
      class="d-flex h-100"
      [opened]="opened"
      (open)="handleOpening($event)"
      (close)="close.emit(false)"
    ></app-side-bar>
  </div>
  <div class="body">
    <mat-tab-group
      [(selectedIndex)]="tab"
      class="invisible-tabs"
      [@.disabled]="true"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>contacts</mat-icon> Contacts
        </ng-template>
        <app-contacts></app-contacts>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>group</mat-icon> Groups
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>insert_invitation</mat-icon> Invites
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
