@mixin changeStyle($bgColor, $color, $width) {
  background-color: $bgColor;
  border: $width solid $color;
}

$font-sizes: (
  "small": 12px,
  "normal": 18px,
  "large": 24px,
);

.header {
  width: calc(100% - var(--main-drawer-width-closed));
  background-color: var(--main-header-color);
  height: var(--main-header-height);
  transition: background-color var(--transition-duration) linear;
  -webkit-transition: background-color var(--transition-duration) linear;
  -ms-transition: background-color var(--transition-duration) linear;
  &.mute {
    background-color: var(--main-color-faded);
  }
}

.body {
  width: calc(100% - var(--main-drawer-width-closed));
  height: calc(100% - var(--main-header-height)) !important;
  overflow-y: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  ::ng-deep .mat-tab-body-wrapper {
    height: inherit;
  }
}

.view {
  width: calc(100% - var(--main-drawer-width-closed));
  height: 100%;
  .menuButton {
    position: absolute;
    height: var(--main-header-height);
    right: var(--main-drawer-width-closed);
  }
}
.sideBar {
  width: var(--main-drawer-width-closed);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition: background-color var(--transition-duration) linear;
  -webkit-transition: background-color var(--transition-duration) linear;
  -ms-transition: background-color var(--transition-duration) linear;
  background-color: var(--main-header-color);
  &.mute {
    background-color: var(--main-color-faded);
  }
  [class*="Button"] {
    height: var(--main-header-height);
  }
}

.warningBadge {
  ::ng-deep span {
    font-size: 16px;
  }
}

.settingsButton {
  mat-icon {
    &.spinOpen {
      -webkit-transition: -webkit-transform 500ms;
      transition: transform 500ms;
      -webkit-transform: rotateZ(60deg);
      transform: rotateZ(60deg);
    }
  }
}

@media (max-width: 769px) {
  .header {
    @include changeStyle(blue, black, 2px);

    font-size: var(--font-size-big);
  }
}
