.header,
.body,
.view,
.menuButton,
.muteButton,
.settingsButton {
  display: none;
}

.sideBar {
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: var(--main-header-height);
  bottom: 0;
  left: 0;

  transition: background-color var(--transition-duration) linear;
  -webkit-transition: background-color var(--transition-duration) linear;
  -ms-transition: background-color var(--transition-duration) linear;
  background-color: var(--main-header-color);
  &.mute {
    background-color: var(--main-color-faded);
  }
  [class*="Button"] {
    height: var(--main-header-height);
  }
  .homeButton,
  .contactsButton,
  .groupsButton,
  .invitesButton,
  .calendarButton {
    margin-left: auto;
  }
}

.warningBadge {
  ::ng-deep span {
    font-size: 16px;
  }
}

.settingsButton {
  mat-icon {
    &.spinOpen {
      -webkit-transition: -webkit-transform 500ms;
      transition: transform 500ms;
      -webkit-transform: rotateZ(60deg);
      transform: rotateZ(60deg);
    }
  }
}

@media (min-width: 400px) {
  .muteButton,
  .settingsButton {
    display: flex;
  }
  .homeButton,
  .contactsButton,
  .groupsButton,
  .invitesButton,
  .calendarButton {
    margin-left: 0 !important;
  }

  .settingsButton {
    margin-left: auto;
  }
}

@media (min-width: 769px) {
  .header,
  .body,
  .view,
  .menuButton {
    display: flex;
  }

  .header {
    width: calc(100% - var(--main-drawer-width-closed));
    background-color: var(--main-header-color);
    height: var(--main-header-height);
    transition: background-color var(--transition-duration) linear;
    -webkit-transition: background-color var(--transition-duration) linear;
    -ms-transition: background-color var(--transition-duration) linear;
    &.mute {
      background-color: var(--main-color-faded);
    }
  }

  .body {
    width: calc(100% - var(--main-drawer-width-closed));
    height: calc(100% - var(--main-header-height)) !important;
    overflow-y: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    ::ng-deep .mat-tab-body-wrapper {
      height: inherit;
    }
    mat-tab-group {
      &.firstView {
        ::ng-deep .mat-tab-labels {
          transform: translateY(0) !important;
        }
      }
      &.secondView {
        ::ng-deep .mat-tab-labels {
          transform: translateY(-48px) !important;
        }
      }
      &.thirdView {
        ::ng-deep .mat-tab-labels {
          transform: translateY(-2 * 48px) !important;
        }
      }
    }
  }

  .view {
    width: calc(100% - var(--main-drawer-width-closed));
    height: 100%;
    .menuButton {
      position: absolute;
      height: var(--main-header-height);
      right: var(--main-drawer-width-closed);
    }
  }

  .sideBar {
    flex-direction: column;
    width: var(--main-drawer-width-closed);
    height: 100%;
    top: 0;
    right: 0;
    bottom: unset;
    left: unset;
    .settingsButton {
      margin-left: unset;
      margin-top: auto;
    }
  }
}
