::ng-deep .cal-days,
::ng-deep .cal-time-events {
  overflow: hidden;
}

.btn {
  margin-right: 5px;
  margin-left: 5px;
  min-width: 80px;
}

.btn-primary {
  color: #fff;
  background-color: gray;
  border-color: gray;
  &.active {
  }
}

.calendar {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100% - 76px - 1rem);
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &.week {
    ::ng-deep .cal-day-headers {
      position: absolute;
      width: calc(100% - 2rem - 70px);
      background: white;
      padding: 0;
      margin-left: 70px;
      margin-top: -52px;
      border: 1px solid;
      z-index: 3;
    }
    ::ng-deep .cal-all-day-events {
      margin-top: 52px;
      border: solid 1px #e1e1e1;
      border-bottom-width: 1px;
      border-top-width: 1px;
    }
    ::ng-deep .cal-week-view {
      border-top: solid 0px #e1e1e1;
    }
  }
  &.month {
    ::ng-deep .cal-header {
      position: absolute;
      width: calc(100% - 2rem);
      background: white;
      padding: 0;
      border: 1px solid;
      z-index: 3;
    }
    ::ng-deep .cal-days > div:first-of-type {
      margin-top: 32px;
    }
  }
}
