::ng-deep .cal-days,
::ng-deep .cal-time-events {
  overflow: hidden;
}

.btn {
  margin-right: 5px;
  margin-left: 5px;
  min-width: 80px;
}

.btn-primary {
  color: #fff;
  background-color: gray;
  border-color: gray;
  &.active {
  }
}

.calendar {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100% - 76px - 1rem);
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  ::ng-deep .cal-day-headers {
    position: absolute;
    width: calc(100% - 2rem - 70px);
    background: white;
    padding: 0;
    margin-left: 70px;
    border: 1px solid;
    z-index: 3;
  }
  &.week ::ng-deep .cal-all-day-events {
    margin-top: 52px;
  }
}
