::ng-deep .cal-days,
::ng-deep .cal-time-events {
  overflow-y: scroll;
  overflow-x: visible;
  height: 100%;
  max-height: 400px;
}

.btn {
  margin-right: 5px;
  margin-left: 5px;
  min-width: 80px;
}

.btn-primary {
  color: #fff;
  background-color: gray;
  border-color: gray;
  &.active {
  }
}
