.sideBar {
  transition: background-color var(--transition-duration) linear;
  -webkit-transition: background-color var(--transition-duration) linear;
  -ms-transition: background-color var(--transition-duration) linear;
  background-color: var(--main-header-color);
  &.mute {
    background-color: var(--main-color-faded);
  }
  [class*="Button"] {
    height: var(--main-header-height);
  }
}

.warningBadge {
  ::ng-deep span {
    font-size: 16px;
  }
}

.settingsButton {
  mat-icon {
    &.spinOpen {
      -webkit-transition: -webkit-transform 500ms;
      transition: transform 500ms;
      -webkit-transform: rotateZ(60deg);
      transform: rotateZ(60deg);
    }
  }
}
