.sideBar {
  transition: background-color var(--transition-duration) linear;
  -webkit-transition: background-color var(--transition-duration) linear;
  -ms-transition: background-color var(--transition-duration) linear;
  background-color: var(--main-header-color);
  &.mute {
    background-color: var(--main-color-faded);
  }
  [class*="Button"] {
    height: var(--main-header-height);
  }
}

.warningBadge {
  ::ng-deep span {
    font-size: 16px;
  }
}

.settingsButton {
  mat-icon {
    transition: all 200ms ease-out !important;
    &.active {
      transform: rotate(45deg);
    }
  }
}
