/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --main-bg-color: white;
  --main-txt-color: rgb(0, 0, 0);
  --main-txt-font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  --main-drawer-min-width: 300px;
  --main-drawer-width-closed: 50px;
  --main-header-color: rgb(92, 187, 128);
  --main-color-faded: rgba(0, 0, 0, 0.35);
  --main-header-height: 50px;
  --main-padding: 16px;
}

$font-sizes: (
  "small": 12px,
  "normal": 18px,
  "big": 20px,
  "large": 24px,
);

.mat-button {
  min-width: var(--main-drawer-width-closed) !important;
  &:focus {
    outline: none;
  }
}

.mat-icon {
  height: map-get($font-sizes, big) !important;
  width: map-get($font-sizes, big) !important;
  font-size: map-get($font-sizes, big) !important;
}
