:host {
  --transition-duration: 300ms;
}

.drawer {
  position: absolute;
  width: var(--main-drawer-width) !important;
  transition: transform ease var(--transition-duration);
  background-color: var(--main-body-color);
  &.closed {
    transform: translate(
      calc(var(--main-drawer-width-closed) - var(--main-drawer-width))
    ) !important;
  }
}

.viewer {
  transition: margin-left ease var(--transition-duration);
  &.closed {
    margin-left: var(--main-drawer-width-closed) !important;
  }
}
