<!-- Drawer 1 -->
<div class="drawer1 h-100" [class.firstDrawerClosed]="!drawer1">
  <app-drawer
    [opened]="drawer1"
    (open)="handleOpening(1, $event)"
    (close)="drawer1 = false"
  ></app-drawer>
</div>

<!-- Viewer -->
<div
  class="viewer h-100"
  [class.firstDrawerClosed]="!drawer1"
  [class.secondDrawerClosed]="!drawer2"
>
  <app-viewer> </app-viewer>
</div>

<!-- Drawer 1 -->
<div class="drawer2 h-100" [class.secondDrawerClosed]="!drawer2">
  <app-drawer
    [opened]="drawer2"
    (open)="handleOpening(2, $event)"
    (close)="drawer2 = false"
  ></app-drawer>
</div>
