:host {
  --transition-duration: 300ms;
}

.drawer {
  min-width: calc(var(--main-drawer-min-width) + 1px) !important;
  transition: min-width ease var(--transition-duration);
  background-color: var(--main-body-color);
  &.closed {
    min-width: calc(var(--main-drawer-width-closed) + 1px) !important;
    width: var(--main-drawer-width-closed) !important;
  }
}

.viewer {
  transition: margin-left ease var(--transition-duration);
  &.closed {
    margin-left: var(--main-drawer-width-closed) !important;
  }
}
